/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/11/2014, 22:47:00
    Author     : Edgar Eler <edgar@mag-w.com>
*/

body { 
    background: url(../img/fundo.gif) black top left fixed;
    margin: 0;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 0.875em;
    color: white;
}

div#page {
    width: 100%;
    max-width: 1260px;
    min-width: 1084px;
    margin: auto;
    background: url(../img/marte.png) bottom right no-repeat;
    /* height: 400px; 
    background: rgba(0,255,255,0.5); */
}

div#header {
    font-size: 0;
    text-align: left;
    height: 242px;
}

div#logo {
    float: left;
    width: 135px;
    height: 197px;
    margin: 45px 0 0 45px;
    
}

ul#menu {
    float: right;
    padding: 0;
    text-align: right;
    width: 810px;
    margin: 70px 70px 0 0;
}

li.item-menu {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    width: 115px;
    height: 121px;
    cursor: pointer;
}

li.item-menu:hover,
li.item-menu:active,
li.pagina-atual {
    background: url(../img/fundo-botao.png) top left no-repeat;
}

div#tp-tecnologia {
    margin: 50px 0 0 30px;
}

div#content {
    padding: 30px 50px 0 50px;
    line-height: 1.250em;
}

span.titulo-01 {
    font-size: 1.125em;
    font-weight: bold;
}
span.titulo-02 {
    font-weight: bold;
    color: #00FFFF;
}

div.tecnologia {
    margin-top: 40px;
}

div.tecnologia img {
    float: left;
    border: 2px solid white;
    margin-right: 20px;
}

div.ultima {
    width: 700px;
}

div#logos { 
    padding: 60px 0 30px 0;
}

div#logos img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}


@media screen and (max-device-width: 720px) {
/*    body { 
        background: url(../img/fundo.gif) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
        font-family: Tahoma, Arial, sans-serif;
        font-size: 0.875em;
        color: white;
    }
*/
    body { 
        font-size: 1.0em;
    }

    img {
        max-width: 100%;
    }
    
    div#page {
        width: 94%;
        max-width: 100%;
        min-width: 0;
        /*margin: auto;*/
        background: url(../img/marte.png) bottom center no-repeat;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
    }
    
    div#header {
        height: auto;
    }
    
/*
    header {
        font-size: 0;
        text-align: left;
    }
*/
    div#logo {
        float: none;
        display: block;
        /*width: 158px;
        height: 197px;*/
        margin: auto;
        padding: 1rem 0 1rem 0;

    }

    ul#menu {
        float: none;
        padding: 0;
        text-align: left;
        width: 16.875rem;
        margin: auto;
    }

    li.item-menu {
        /* list-style: none;
        display: inline-block;*/
        margin: 0.625rem;
        width: 7.188rem;
        height: 7.563rem;
        cursor: pointer;
    }
/*
    li.item-menu:hover,
    li.item-menu:active,
    li.pagina-atual {
        background: url(../img/fundo-botao.png) top left no-repeat;
    }
*/
    div#tp-tecnologia {
        margin: 2rem auto;
    }

    div#content {
        padding: 0;
        /*line-height: 1.250em;*/
    }
/*
    span.titulo-01 {
        font-size: 1.125em;
        font-weight: bold;
    }
    span.titulo-02 {
        font-weight: bold;
        color: #00FFFF;
    }
*/

    div.tecnologia {
        margin-top: 2rem;
    }

    div.tecnologia img {
        float: none;
        display: block;
        border: 0.125rem solid white;
        margin: 2rem auto;
    }

    div.ultima {
        width: 100%;
    }

    div#logos { 
        padding-top: 4.0rem;
    }

    div#logos img {
        display: block;
        /*vertical-align: middle;*/
        margin: auto;
    }

}